.video-container {
  border: 1px solid black;
  padding: 4px;
  overflow: auto;
  resize: both;
}

.flex{
  display: flex !important;
  flex-direction: row !important;
  align-items: center;
  gap: 1rem;
}